@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Ubuntu:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  background-color: rgba(41, 47, 54, .2);
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  /* background-color: rgba(78, 205, 196, .8) */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: rgba(78, 205, 196, 1  );
  border-radius: 5px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
